.mainPage-background {
  background-color: #282c34;
  min-height: 100vh;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.mainPage-menu-block {
  border-radius: 60px;
  background-color: #d9ffed;
  width: 90%;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 30vh;
}

.mainPage-menu-block-menu {
  height: 55%;
  min-height: 550px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.mainPage-menu-block-header-balance_block {
  display: inline-block;
  margin: 2%;
  border-radius: 60px;
  background-color: #473198;
  text-align: center;
  max-width: 200px;
  width: 45%;
  height: 180px;
}

.mainPage-menu-block-header-balance_block > h3 {
  color: #d9ffed;
}

.mainPage-menu-block-header-balance_block > H1 {
  color: #c1cc99;
}

.mainPage-menu-block-header-balance_block > Button {
  height: 30px;
  font-weight: 600;
  border-radius: 50px;
  color: #e8e9f3;
  background-color: #a6a6a8;
  border-style: none;
}

.mainPage-menu-block-header-profile_block {
  float: right;
  text-align: -webkit-center;
  margin: 3%;
  height: 150px;
  background-color: #d9ffed;
  max-width: 200px;
  width: 45%;
  border-radius: 50%;
}

.mainPage-menu-block-header-profile_block > img {
  height: 50px;
  width: 50px;
  border-radius: 60px;
  border-style: solid;
  border-width: 5px;
  border-color: #adfc92;
}

.mainPage-menu-block-header-bets_section > Button {
  margin-left: 40%;
  margin-bottom: 1%;
  width: 20%;
  height: 30px;
  font-weight: 600;
  border-radius: 50px;
  color: #e8e9f3;
  background-color: #a6a6a8;
  border-style: none;
}

.mainPage-menu-block-menu-content {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  border-radius: 60px;
  background-color: #d9ffed;
  width: 40%;
  min-height: 250px;
  height: 25%;
  max-width: 400px;
}

.mainPage-menu-block-menu-content > p {
  margin: 0%;
  text-align: center;
}

.mainPage-menu-block-menu-content-image {
  height: 50%;
  max-height: 150px;
  width: 50%;
  max-width: 150px;
  border-radius: 50px;
  border-style: solid;
  border-width: 5px;
  border-color: #473198;
  background-color: #272635;
  margin: 50px auto 0;
}

.mainPage-main_events {
  margin-top: 4%;
  position: sticky;
  width: 100%;
  height: 600px;
  z-index: 1;
  background-color: #d9ffed;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

.mainPage-main_events-button {
  width: 10%;
  min-width: 90px;
  height: 30px;
  margin: 0 auto;
  padding-top: 10px;
}

.mainPage-main_events-button > button {
  text-align: center;
  font-weight: 600;
  height: 100%;
  width: 100%;
  border-radius: 60px;
  color: #e8e9f3;
  background-color: #a6a6a8;
  border-style: none;
}

.mainPage-main_events-search_input {
  width: 10%;
  min-width: 90px;
  height: 30px;
  margin: 0 auto;
  padding-top: 10px;
}

.mainPage-main_events-search_input > input {
  text-align: center;
  border-radius: 60px;
  border-color: #473198;
  outline: none;
  height: 100%;
  width: 97%;
}

.mainPage-main_events-event_list {
  display: inline-block;
  width: 90%;
  height: 30%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 60px;
  background-color: #d9ffed;
  box-shadow: 0px 0px 8px 0px #272635;
}

.mainPage-main_events-event_list-event-left_block-img {
  float: left;
  text-align: center;
  margin-left: 10%;
  height: 50px;
  width: 50px;
  border-style: solid;
  border-width: 5px;
  border-color: #473198;
  border-radius: 60px;
  background-color: #d9ffed;
}

.mainPage-main_events-event_list-event-left_block {
  float: left;
  margin: 4%;
}

.mainPage-main_events-event_list-event-info {
  text-align: center;
  float: left;
  margin-top: 2%;
  margin-left: 25%;
}

.mainPage-main_events-event_list-event-info > H1 {
  font-size: 70px;
  margin-top: 0px;
  margin-right: 10%;
  margin-bottom: 0%;
}

.mainPage-main_events-event_list-event--info > H5 {
  color: #adfc92;
  background-color: #473198;
  border-radius: 60px;
  margin-top: 0%;
  margin-bottom: 1%;
  height: 20px;
}

.mainPage-main_events-event_list-event-right_block {
}

.mainPage-main_events-event_list-event-right_block-accept {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-flex;
}

.winLose {
  display: inline-block;
}

.mainPage-main_events-event_list-event-right_block-accept > img {
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  height: 80px;
  width: 80px;
  border-style: solid;
  border-width: 5px;
  border-color: #473198;
  border-radius: 60px;
  background-color: #d9ffed;
}
